html {
    background-color: saddlebrown;
}

main {
    /* creates a fixed layout */
    width: 700px;
    margin: auto;
    background-color: beige;
    border: 2px solid #00002d;
    border-radius: 4px;
    padding: 8px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: auto;
}

img {
    width: 150px;
    border: 1px solid darkblue;
    border-radius: 10px;
    margin: 6px;
}

section#images-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}